
<form name="editForm" role="form" novalidate ng-submit="vm.save()" show-validation>

    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                ng-click="vm.clear()">&times;</button>
        <h4 class="modal-title" id="myEventLabel" data-translate="codeFestManagementSystemV1App.event.home.createOrEditLabel">Create or edit a Event</h4>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" ng-show="vm.event.id">
            <label for="id" data-translate="global.field.id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                    ng-model="vm.event.id" readonly />
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="codeFestManagementSystemV1App.event.name" for="field_name">Name</label>
            <input type="text" class="form-control" name="name" id="field_name"
                    ng-model="vm.event.name"
                    required/>
            <div ng-show="editForm.name.$invalid">
                <p class="help-block"
                    ng-show="editForm.name.$error.required" data-translate="entity.validation.required">
                    This field is required.
                </p>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="codeFestManagementSystemV1App.event.description" for="field_description">Description</label>
            <input type="text" class="form-control" name="description" id="field_description"
                    ng-model="vm.event.description"
                    />
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="codeFestManagementSystemV1App.event.venue" for="field_venue">Venue</label>
            <input type="text" class="form-control" name="venue" id="field_venue"
                    ng-model="vm.event.venue"
                    required/>
            <div ng-show="editForm.venue.$invalid">
                <p class="help-block"
                    ng-show="editForm.venue.$error.required" data-translate="entity.validation.required">
                    This field is required.
                </p>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="codeFestManagementSystemV1App.event.start_Date" for="field_start_Date">Start Date</label>
                <div class="input-group">
                    <input id="field_start_Date" type="text" class="form-control" name="start_Date" uib-datepicker-popup="{{dateformat}}" ng-model="vm.event.start_Date" is-open="vm.datePickerOpenStatus.start_Date"
                    />
                    <span class="input-group-btn">
                        <button type="button" class="btn btn-default" ng-click="vm.openCalendar('start_Date')"><i class="glyphicon glyphicon-calendar"></i></button>
                    </span>
                </div>
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="codeFestManagementSystemV1App.event.end_Date" for="field_end_Date">End Date</label>
                <div class="input-group">
                    <input id="field_end_Date" type="text" class="form-control" name="end_Date" uib-datepicker-popup="{{dateformat}}" ng-model="vm.event.end_Date" is-open="vm.datePickerOpenStatus.end_Date"
                    />
                    <span class="input-group-btn">
                        <button type="button" class="btn btn-default" ng-click="vm.openCalendar('end_Date')"><i class="glyphicon glyphicon-calendar"></i></button>
                    </span>
                </div>
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="codeFestManagementSystemV1App.event.start_time" for="field_start_time">Start Time</label>
                <div class="input-group">
                    <input id="field_start_time" type="text" class="form-control" name="start_time" datetime-picker="{{dateformat}}" ng-model="vm.event.start_time" is-open="vm.datePickerOpenStatus.start_time"
                    />
                    <span class="input-group-btn">
                        <button type="button" class="btn btn-default" ng-click="vm.openCalendar('start_time')"><i class="glyphicon glyphicon-calendar"></i></button>
                    </span>
                </div>
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="codeFestManagementSystemV1App.event.end_time" for="field_end_time">End Time</label>
                <div class="input-group">
                    <input id="field_end_time" type="text" class="form-control" name="end_time" datetime-picker="{{dateformat}}" ng-model="vm.event.end_time" is-open="vm.datePickerOpenStatus.end_time"
                    />
                    <span class="input-group-btn">
                        <button type="button" class="btn btn-default" ng-click="vm.openCalendar('end_time')"><i class="glyphicon glyphicon-calendar"></i></button>
                    </span>
                </div>
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="codeFestManagementSystemV1App.event.event_Coordinator" for="field_event_Coordinator">Event Coordinator</label>
            <input type="text" class="form-control" name="event_Coordinator" id="field_event_Coordinator"
                    ng-model="vm.event.event_Coordinator"
                    required/>
            <div ng-show="editForm.event_Coordinator.$invalid">
                <p class="help-block"
                    ng-show="editForm.event_Coordinator.$error.required" data-translate="entity.validation.required">
                    This field is required.
                </p>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="codeFestManagementSystemV1App.event.sponser_Name" for="field_sponser_Name">Sponser Name</label>
            <input type="text" class="form-control" name="sponser_Name" id="field_sponser_Name"
                    ng-model="vm.event.sponser_Name"
                    />
        </div>

        <div class="form-group">
            <label data-translate="codeFestManagementSystemV1App.event.competition" for="field_competition">Competition</label>
            <select class="form-control" id="field_competition" name="competition" ng-model="vm.event.competitionId" ng-options="competition.id as competition.title for competition in vm.competitions"             required>
            </select>
        </div>
        <div ng-show="editForm.competition.$invalid">
            <p class="help-block"
                ng-show="editForm.competition.$error.required" data-translate="entity.validation.required">
                This field is required.
            </p>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="vm.clear()">
            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span data-translate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" ng-disabled="editForm.$invalid || vm.isSaving" class="btn btn-primary">
            <span class="glyphicon glyphicon-save"></span>&nbsp;<span data-translate="entity.action.save">Save</span>
        </button>
    </div>
</form>
