<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title th:text="#{email.getDetails.title}">CodeFestManagementSystemV1 Problems and feedbacks</title>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8"/>
    <link rel="shortcut icon" th:href="@{|${baseUrl}/favicon.ico|}"/>
</head>
<body>
<p th:text="#{email.getDetails.greeting}">
</p>
<p th:text="${name}"></p>
<p th:text="${email}"></p>
<p th:text="${eventsName}"></p>
<p th:text="${age}"></p>
<p th:text="${phone}"></p>
<p th:text="${category}"></p>
<p>
    <span th:text="#{email.getDetails.text2}">Regards, </span>
    <br/>
    <em th:text="#{email.signature}">JHipster.</em>
</p>
</body>
</html>



